*{  
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
html{
    font-size: 16px;
}

 body{
     font-family: Roboto, serif;
     height: 100%;
     width: 100%;
    
 }

 .container{  
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-rows: 1fr auto;
}

/* ---------------------------SIDEBAR------------------------------- */


.sidebar{
    /* width:16rem; */
    background-color: rgb(255, 139, 72);
    grid-row: 1 / 3;
    /* display: flex;
    flex-direction: column;
    gap:3rem; */
    display: grid;
    gap:3rem;
    grid-template-rows: 3rem 20rem 7rem;
    
}

.sidebar-head > img{
    height: auto;
    width: 2rem;
    filter:invert(1);    
}

.sidebar-head > h1{
    color:white;
    font-size: 1.5rem;
}

.sidebar-head {
     /* display:flex;
    justify-content: flex-start;
    align-items: center; */
    padding: 1.5rem;
    display: grid;
    grid-template-columns: 1fr 7fr;
    align-items: center;
    gap: 1rem;
}

.menu, .menu-bot{    
    display: grid;  
}

.menu > li, .menu-bot > li{
    
    height: 3rem;
    padding-left: 15px;
    padding-right: 15px;
    display: grid;
    grid-template-columns: 1fr 8fr;
    align-items: center;
    gap: 1.5rem;

}

.menu > li:hover, .menu-bot > li:hover{
    cursor: pointer;
    background-color: rgba(3, 3, 3, 0.274);

}

.menu > li > img, .menu-bot > li > img{
    width:1.3rem;
}

.menu > li > div, .menu-bot > li > div{
    color:white;
    font-size: 1.1rem;
    font-weight: 800;
}


/* ---------------------------HEADER------------------------------- */



.header{
    grid-column: 2 / 4;
    background-color:rgb(255, 255, 255);
    /* display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    align-items: center; */
    
    box-shadow: 2px 2px 5px rgba(90, 90, 90, 0.671);
    z-index: 1;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    
}
.header > * {
    padding:1rem 3rem;
}

.header-search > img{
    justify-self: end;
}

.header-search img, .info-top > .bell {
    width: 1.4rem;
    filter: brightness(0%);
   
}

.header-search{
    flex:0;
    justify-content: start;
    gap:1.5rem;
    justify-self: start;
    display: grid;
    align-items: center;
    justify-items: start;
    grid-template-columns: 1fr 1fr;
    
}

.header-search input{
    background-color: rgb(170, 170, 170);
    width:30rem;
    border: none;
    border-radius: 4rem;
    height: 1.6rem;
    /* padding-left: 1rem;
    padding-right: 1rem; */
}

.info-top{
    grid-column: 2;
    grid-row: 1;
    display: grid;
    grid-template-columns: 1fr 1fr 3fr;
    align-items: center;
    justify-items: center;
    justify-self: end;
    gap:1rem;
}

.info-top > .avatar-small{
    width:3rem;
    border-radius: 50%;
}
.info-top > .nick-small{
    font-weight: 800;
}



.info-bot{
    display: grid;
    gap:0.6rem;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 1fr;
    justify-self: start;
}

.info-bot > .avatar-big{
    align-self: center;
    width:4.5rem;
    border-radius: 50%;
    grid-row: 1 / 3;
}

.info-bot > .bot-hi{
    align-self: end;
    font-size:0.8rem;
    font-weight: 800;
}

.info-bot > .nick-big{
    align-self: start;
    font-size: 1.3rem;
    font-weight: 900;
}

.buttons-bot{
    /* justify-items: start;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(6rem, 1fr));
    gap:1rem; */
    justify-self: end; 
    display: flex;
    flex-wrap: wrap;
    padding: 1.5rem;
    
 
}
    

.buttons-bot > button{
    margin: 1rem 1rem;
    background-color: rgb(255, 139, 72);
    color:white;
    width: 6rem;
    height: 2rem;
    font-size:0.9rem;
    font-weight: 800;
    border: none;
    border-radius:20px;
}



/* ---------------------------MAIN CONTENT------------------------------- */



.main-content{
    padding: 1.5rem;
    background-color: rgb(209, 209, 209);   
}

.cards-main{
    display: grid;
   grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
   gap: 1.5rem;
   align-items: stretch;
}


.card .card-text{
    padding:0 2rem; 
    color: rgb(124, 124, 124);
    font-weight: normal;
    font-size: 0.8rem;
}
  
.card .title {
    padding:1.5rem 2rem 0; 
      font-weight: 900;
    font-size: 1rem;
    
}

  .card >.img-box > img{
    filter: brightness(0%);
    width: 1.3rem;
}

.img-box{
    position: absolute;
    bottom: 1.5rem;
    right: 1.5rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap:1.4rem;
}



.main-head{
   
   padding: 1rem 0;
   font-weight: 800;
}
.main-content .card {
    position: relative;
    background-color: #FFFFFF;
    color: black;
    text-align: left;
    min-height: calc(125px + 7vw);
    border-radius: 7px;
    border-left: 7px solid rgb(2, 154, 255);
    box-shadow:  2px 2px 5px rgba(90, 90, 90, 0.671);
  }


  /* ---------------------------RIGHT CONTENT------------------------------ */


.right-content{
    padding: 1.5rem 1rem 0 0;
    background-color:rgb(209, 209, 209);
    
}

.right-content .card{
    display: grid;
    justify-items: stretch;
    align-items: stretch;
    padding:0.5rem;
    background-color: #FFFFFF;
    color: black;
    text-align: left;
    height: 328px;
    min-width:250px;
    border-radius: 7px;
    border: 15px solid rgb(255, 255, 255);
    box-shadow:  2px 2px 5px rgba(90, 90, 90, 0.671);
}

.right-top .card-element:nth-child(1), .right-top .card-element:nth-child(2){
   
    border-bottom:1px solid rgb(231, 231, 231);   
}

.card-element{
    padding: 0.5rem;
}

.card-element h1{
    font-size: 0.9rem;
}

.card-element p{
    font-size: 0.8rem;
    color: rgb(95, 95, 95);
}

.right-header{
    padding: 1rem 0;
    font-weight: 900;
}



.right-bot .card-element{
    display: grid;
    gap:0.4rem;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 1fr;
    justify-self: start;
}

.right-bot h1{
    align-self: end;
}

.right-bot img{
    align-self: center;
    width: 3rem;
    border-radius: 50%;
    grid-row: 1 / 3;
}


/* ---------------------------FOR ANOTHER SCREENS------------------------------- */

@media only screen and (min-width: 1600px) {
    .header-search input{    
        width:45rem;
    }
}
@media only screen and (max-width: 1250px) {
    
    .info-bot{
        display: none;
        position: relative;
    }
    .header{
        justify-content: center;
    }

    .header-search input{    
        width:20rem;
    }
    
     /* .container{
        grid-template-columns: 1fr 4fr;
        grid-template-rows: 1fr 10fr 3fr;
    } */

    /* .header{
        flex-shrink: 0;
        justify-content: center;
        align-items: center;
    }
    
    .main-content{
        grid-column: 2 / 3;
    }

    .right-content{
        grid-column: 2 / 3;
    }
    .sidebar{

        grid-row: 1 / 4;
    }  */

}
